@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased tracking-tight bg-slate-50 dark:bg-slate-950 text-slate-900 dark:text-slate-50;
  }
}

/* Corporate clean custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: theme('colors.slate.300'); 
  border-radius: 10px;
}
.dark ::-webkit-scrollbar-thumb {
  background: theme('colors.slate.700'); 
}
::-webkit-scrollbar-thumb:hover {
  background: theme('colors.blue.500'); 
}

